.userList-card {
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 20px;
    background-color: #edf6f9;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0px 2px 4px 1px rgb(0 0 0 / 60%);
    -o-box-shadow: 0px 2px 4px 1px rgb(0 0 0 / 60%);
    -moz-box-shadow: 0px 2px 4px 1px rgb(0 0 0 / 60%);
    -webkit-box-shadow: 0px 2px 4px 1px rgb(0 0 0 / 60%);
}

.userList-card-userInfo { margin: 5px 10px; }

.userList-card-btnWrap {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.userList-card-btn {
    font-size: 18px;
    padding: 5px 7px;
    margin: 0px 5px;
    border: none;
    border-radius: 5px;
}

.userList-card-deleteBtn {
    background-color: #f00;
    color: #fff;
}

.userList-card-updateBtn { background-color: #fee440; }