* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { background-color: #8d99ae; }

.main-wrap {
    width: 100%;
    height: 100vh;
    display: flex;
}

.userForm-wrap {
    width: 50%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #edf2f4;
}

.userForm-card {
    width: 90%;
    max-width: 500px;
    padding: 30px 20px;
    background-color: #e09f3e !important;
    border-radius: 10px !important;
}

.userForm-card-input , .userForm-card-radioWrap {
    width: 90%;
    padding: 8px 10px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 7px;
    margin-bottom: 15px;
    font-size: 20px;
}

.userForm-card-input:focus { outline: none; }

.userForm-card-radioWrap {
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
    font-size: 25px;
    box-shadow: none;
}
/* 
.userForm-card-btn {
    width: 90%;
    display: block;
    margin: auto !important;
    padding: 8px 10px;
    font-size: 25px !important;
    background-color: #52b788 !important;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 10px;
} */

.userList-card-wrap {
    width: 50%;
    padding: 20px;
    font-size: 20px;
    background-color: #8d99ae;
    overflow-y: scroll;
}

@media only screen and (max-width: 1000px) {

    .main-wrap { flex-direction: column; }

    .userForm-wrap {
        width: 100%;
        height: 500px
    }

    .userList-card-wrap {
        width: 100%;
        overflow-y: unset;
    }
    
}